{% extends 'layout.twig' %}
{% block title %}{{ parent() }} - {{ user.user_name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
			¯\_(ツ)_/¯ <br>
			{{ user.user_name }}
        </div>
    </div>
{% endblock %}
